@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Sacramento&display=swap');

*{
    box-sizing: border-box;
    margin:0;
}


.displayNumber{
    height: auto;

}
.displayNumber p{
    user-select: none;
    text-align: center;
    font-size:150px;
    font-family: "Sacramento";
    font-weight: 600;
    background: linear-gradient(90deg, #2299f5 0%, #ea0000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
.buttons{
    display: flex;
    justify-content:center;
    width:50%;
    margin-bottom: 2rem;
}

.buttons button{
    user-select: none;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid rgb(17, 77, 129);
    margin: 0 10px;
    cursor: pointer;
    font-family: "";
    font-size: 24px;
    transition: 0.3s;
    font-family: "Archivo";
}

.buttons button:hover{
    color: rgb(0, 186, 253);
    font-size: 30px;
    width: 200px;
    height:  50px;
    
    
}
